@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --pc: #323efb;
  --wc: #ffffff;
  --bc: #000000;
  --dc: #1f2934;
  --c1: #606c82;
  --c2: #3c3c3c;
  --c3: #091226;
}
body {
  text-transform: capitalize;
  position: relative;
}
#tsparticles {
  height: 100%;
  width: 100%;
  position: relative;
  background: linear-gradient(133.12deg, #eff2ff 19.2%, #f9faff 66.85%);
}

.cta__btn,
.cta__btn2 {
  display: block;
  padding: 10px, 28px;
  width: 166px;
  height: 49px;
  text-align: center;
  font-size: 19.2px;
  line-height: 49px;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 8px;
}
.cta__btn {
  color: var(--wc);
  background: var(--pc);
  box-shadow: inset 0 0 0 0 var(--bc);
}
.cta__btn:hover,
.cta__btn2:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 var(--bc);
}

.cta__btn:active,
.cta__btn2:active {
  transform: scale(0.9);
}

.cta__btn2 {
  color: var(--bc);
  background: transparent;
  border: 2px solid var(--pc);
  box-shadow: inset 0 0 0 0 var(--bc);
}

.userform__title {
  width: 364px;
  margin-bottom: 22px;
}
.userform__title h4 {
  width: 364px;
  height: 72px;
  font-size: 44px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
  color: var(--c2);
}
.userform__title {
  margin-bottom: 10px;
}
.userform__title p {
  width: 176px;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #00000080;
}
.userform form .inputscon {
  width: 100%;
}
.inputdiv input {
  width: 100%;
  height: 65px;
  padding: 17px 209px 16px 16px;
  border-radius: 8px;
  border: 1.5px solid #00000066;
  transition: 0.5s;
}
.inputdiv label {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;
  top: 17px;
  left: 26px;
  transition: 0.5s;
}
.form-floating > label {
  left: 20px;
  color: #808080b2;
}
.form-floating > .form-control:focus ~ label {
  color: var(--pc);
  transform: scale(1) translateY(-1.8rem) translateX(0.15rem);
}
.form-control:focus {
  box-shadow: 0 0 0 0 transparent;
  border: 1.5px solid var(--pc);
}

.form-select:focus {
  box-shadow: 0 0 0 0 transparent;
  border: 1.5px solid var(--pc);
}

.signwith {
  margin-top: 32px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.signwith button {
  color: var(--bc);
  height: 27%;
  border-radius: 10px;
  border: 1px solid var(--bc);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  transform: scale(1, 1);
  transition: 0.3s;
}
.signwith button:hover {
  transform: scale(0.9, 0.9);
}

.alreadycreate {
  width: 50%;
  height: 16px;
  margin: auto;
  font-size: 22px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  margin-top: 4%;
}
.alreadycreate > p > a {
  color: var(--pc);
}
@media (max-width: 1330px) {
  .alreadycreate {
    width: 100%;
  }
}
.validicon,
.failicon {
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}
.validicon {
  color: var(--pc);
}
.failicon {
  color: #ff3333;
}
.errorinput {
  border: 2px solid #ff3333;
}
.validinput {
  border: 2px solid var(--pc);
}
.errormsg {
  position: absolute;
  top: 102%;
  left: 3%;
  z-index: 2;
}
