.slides {
  width: 40%;
  height: 100% !important;
  padding: 72px 90px;
  background: linear-gradient(180deg, #6872ff 18.51%, #323efb 100%);
}
.slides__title {
  width: 451px;
  height: 72px;
  font-size: 44px;
  font-weight: 700;
  line-height: 72px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 20px;
}
.slides__title span {
  font-size: 44px;
  font-weight: 700;
  line-height: 72px;
  color: #ffffffe5;
}

.slidimg {
  width: 500px;
  height: 500px;
  margin-bottom: -6%;
}
.slidetitle {
  width: 353px;
  height: 72px;
  font-size: 38px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  color: var(--wc);
  margin: auto;
}
.slidedis {
  height: 100px;
  margin: auto;
  word-break: break-all;
  color: var(--wc);
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  margin-bottom: 20px;
}
@media (max-width: 1330px) {
  .slides {
    width: 100%;
    padding: 10px;
  }
  .slides__title {
    width: 100%;
    text-align: center;
  }
  .slidimg {
    width: 100%;
  }
}
